<%- include('_header'); -%>

<h1>Hello <%= name %></h1>
<p>Welcome to our newsletter! We are excited to keep you up-to-date with the latest news and events.</p>
<p>Thank you for subscribing!</p>

<%- include('_footer'); -%>
