name: Pull request check
on:
  pull_request:

jobs:
  run_unit_test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --production=false

      - name: Run unit test
        run: yarn test

  lint_code:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --production=false

      - name: Run Linter
        run: yarn lint

  lint_pr_title:
    name: Check pull request title
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - name: conventional-pr-title
        uses: aslafy-z/conventional-pr-title-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
